html,
body {
    margin: 0;
}

.top {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    max-width: 1200px;

    @media (max-width: 768px) {
        flex-direction: column;
    }
}

.top h1,
.top h2,
.top p {
    width: 100%;
    display: inline-flex;
    max-width: 88%;
    font-size: 36px;
    color: rgb(41, 44, 47);
    font-family: Montserrat, sans-serif;
    font-weight: 300;

    @media (max-width: 768px){
        font-size: 22px;
    }
}

ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    color: #fff;
    font-size: 16px;
    font-family: Montserrat, sans-serif;
    padding: 0;
}

ul li {
    margin-bottom: 22px;
}

.top p {
    font-size: 18px;

    @media (max-width: 768px){
        font-size: 16px;
    }
}

.top .col2 img {
    @media (max-width: 768px) {
        max-width: 310px;
        margin-top: 30px;
    }
}

.col1 {
    display: flex;
    box-sizing: border-box;
    flex: 12;
    padding: 32px 0px 0px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    @media (max-width: 768px) {
        padding: 0;
    }
}

.col2 img {
    border: none;
    padding: 0;
    width: 100%;
    height: 480px;
    margin: 0px 0px 0px 0px;
    overflow: hidden;
    border-style: none;
    border-color: #5981e3;
    border-radius: 0px 0px 0px 0px;
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    object-fit: contain;
}

.bloco {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    padding: 32px 5%;

    @media (max-width: 768px){
        padding: 10px 5%;
    }
}

.btn-comprar {
    width: 100%;
    flex-direction: row-reverse;
    background: #DE5A07;
    color: #FFFFFF !important;
    font-size: 18px;
    margin: 16px 0px 50px 10px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: none;
    border-color: #EF4E23;
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-radius: 32px 32px 32px 32px;
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    font-style: normal;
    margin: 0;
    max-width: 310px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    margin-top: 18px;
    padding: 0 22px;
}

.cta-top {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.cta-top img {
    width: 34px;
    margin: 22px 0 0 110px
}

.bloco.conteudo {
    background-color: #05234A;
}

.bloco.conteudo h2,
.bloco.conteudo p {
    color: #fff;
    font-size: 16px;
}

.bloco.conteudo h2 {
    font-size: 28px;
    font-weight: 400;
    text-transform: uppercase;
}

.bloco.conteudo .col2 {
    padding: 0 62px;

    @media (max-width: 768px){
        padding: 0;
    }
}

.bloco.conteudo .col1 ul {
    margin: 0;

}

.bloco.conteudo .col1 ul img {
    max-width: 310px;
    border: 6px solid #666;
    box-sizing: border-box;

    @media (max-width: 768px){
        max-width: 100%;
    }
}

.price-bottom {
    display: flex !important;
    align-items: center;

    @media (max-width: 768px){
        flex-direction: column;
        align-items: flex-start;
    }
}

.destaque-price {
    font-weight: 600;
    font-size: 48px;
    margin-left: 4px;
}

.pagamento-seguro {
    margin-top: 32px;
}

.footer-bottom {
    background-color: #05234A;
    color: #fff;
    padding: 12px;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    text-align: center;
}